[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
twine = "*"
pylint = "*"
"pep8" = "*"
pyflakes = "*"
"flake8" = "*"
"pep257" = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3"
